section.examples
    .container 
        h2.title.examples-title 
            |Взгляните на примеры ниже, узнаёте себя?
            span.title-span 
        .container 
            .examples-wrap
                .examples-block
                    p.examples-number
                        |1
                    p.examples-comparison
                        |Меня не устраивает должность и зарплата, но страшно менять работу, едва ли найду что-то лучше. Про свой бизнес вообще молчу.
                .examples-block
                    p.examples-number
                        |2
                    p.examples-comparison
                        |Хоть отношения со второй половиной не очень ладятся, но это лучше, чем быть одиноким. Идеалов нет, зачем что-то менять.
                .examples-block
                    p.examples-number
                        |3
                    p.examples-comparison
                        |Я должен быть супер-родителем, ведь моё детство не было идеальным, помню, как это больно и не допущу впредь.
            p.examples-paragraph
                |И это лишь верхушка айсберга. Любой страх, любой внутренний блок, любая навязчивая идея идут из Родовой Программы, которая вами управляет. Я предлагаю снять эту Программу и освободиться от оков!
            p.examples-paragraph
                |“Род” часто воспринимается как что-то негативное, эзотерическое и неправильное. Но это в корне не верно. Род - это ваша Сила, ваше Предназначение. Отрекаясь от него, вы входите в дисбаланс со своим настоящим “я” и отказываетесь от Силы Предков.
            p.examples-paragraph
                |Вспомните, как часто вы используете фразы “так суждено” и “никуда не деться”, оправдывая этим свою неспособность противостоять ситуации? Или, наоборот, отрицаете возможность неудачи и слепо кидаетесь в омут с головой?
            .header-wraplink 
                    a.header-link(href="#") 
                        |Записаться
        h2.title.examples-title 
            |Что Вы получите после консультации
            span.title-span
        .examples-wrap-work 
            .examples-work 
                p
                    |1. Выявим проблемы, мешающие вам
            .examples-work 
                p 
                    |2. Вы получите полную картину вашего запроса
            .examples-work 
                p 
                    |3. Определим направление к решению вашего запроса
            .examples-work 
                p 
                    |4. Подберем индивидуальную программу для решения проблем