section.feedback 
    .container 
        .feedback-slider
            .feedback-wrap
                p.feedback-artical
                    |Дмитрий, благодарю за консультацию! Как рада и благодарна что попала к Вам! Вы даете возможность изменить жизнь, изменить качественно и быстро. Почистить и перепрограммировать глубинные неосознанные процессы - это самое крутое что может быть! Благодарю за эти возможности! На консультации узнала что одна из главных моих проблем это страхи. Я не осознавала насколько это моя проблема. Все списывала на обстоятельства. В ходе консультации пришло понимание ситуации. Вы помогли увидеть ситуацию со всех сторон, показали суть проблемы, показали что мешает в решении и что может помочь. Благодарю за Ваш подход к консультации. Мне было комфортно, не было напряжения или давления, даже при разборе болезненных моментов, что очень важно для меня. Без нравоучений, без осуждения. Чувствовала что могу говорить открыто, ощущение поддержки. Вы добрый, обладаете большими знаниями, профессионал и сильный маг. Считаю большой удачей возможность обратиться к Вам. Хочу избавиться от мешающих ограничений и изменить свою жизньДмитрий, благодарю за консультацию! Как рада и благодарна что попала к Вам! Вы даете возможность изменить жизнь, изменить качественно и быстро. Почистить и перепрограммировать глубинные неосознанные процессы - это самое крутое что может быть! Благодарю за эти возможности! На консультации узнала что одна из главных моих проблем это страхи. Я не осознавала насколько это моя проблема. Все списывала на обстоятельства. В ходе консультации пришло понимание ситуации. Вы помогли увидеть ситуацию со всех сторон, показали суть проблемы, показали что мешает в решении и что может помочь. Благодарю за Ваш подход к консультации. Мне было комфортно, не было напряжения или давления, даже при разборе болезненных моментов, что очень важно для меня. Без нравоучений, без осуждения. Чувствовала что могу говорить открыто, ощущение поддержки. Вы добрый, обладаете большими знаниями, профессионал и сильный маг. Считаю большой удачей возможность обратиться к Вам. Хочу избавиться от мешающих ограничений и изменить свою жизнь
                p.feedback-autor 
                    |Назиля
            .feedback-wrap
                p.feedback-artical
                    |Дмитрий, благодарю вас за консультацию! Даже от этой встречи уже получила ответы на многие свои вопросы 
                p.feedback-autor 
                    |Юлия 
            .feedback-wrap
                p.feedback-artical
                    |Доброе утро Дмитри!Сегодня состояние отличное , я периодические вспоминаю те ситуации, которые вчера прописывала на листочках, и у меня всплывает замещённая картинка и совсем иные чувства, то есть произошла замена на позитивное состояние, интересные ощущения, конечно☺ ощущение лёгкости в плечах , будто тяжесть ушла,которую я носила в виде этих воспоминаний👍🏻жжение в груди вчера ушло ещё. Классное состояние ! Выполнение запускных действий вчера начала 👌🏻Благодарю вас !!🙏
                p.feedback-autor 
                    |Зарина 
        .arrow-left 
            img(src="./img/arrow/left.svg", alt="arrow-left")
        .arrow-right
            img(src="./img/arrow/left.svg", alt="arrow-right") 
    .forms#forms       
        <script id="1e4f4d8b261325ac5c548405c66497b8fe59d426" src="https://shkolaneo.ru/pl/lite/widget/script?id=420935"></script>