include ./../mixins/_mix

header.header
    nav.nav
        a.nav-logo(href="#!") 
            |Центр развития NEO
        ul.nav-list 
            li.nav-item 
                a.nav-link(href="#examples") 
                    |Программа
            li.nav-item 
                a.nav-link(href="#video") 
                    |Отзывы
            li.nav-item 
                a.nav-link(href="#forms") 
                    |Записаться
            li.nav-item 
                a.nav-link(href="#!") 
                    |Контакты
        .nav-contact 
            a.nav-email(href="mailto:info@shkolaneo.ru") 
                |info@shkolaneo.ru /  
            a.nav-phone(href="tel:+79879124043")                                                
                |+7 (987) 912-40 43
        
    .header-img 
        img(src="./img/header/dmitr.png", alt="Дмитрий Ким")
    .header-title 
        h1.main-title
            |Дмитрий Ким
    .container
        .header-wrap            
            h2.title-utp
                |Энерго-гипнокоуч
                span.header-span 
            p.header-lid 
                |Бесплатная консультация длительностью более часа.
            .header-wraplink 
                a.header-link(href="#forms") 
                    |Записаться