section.leader
    .container 
        h2.title.examples-title 
            |Кто я и чем могу помочь.
            span.title-span 
        .leader-wrap
            .leader-image 
                img(src="./img/liader/dmitry.jpg", alt="Dmitry")
            .leader-artical
                p.examples-comparison
                    |Меня зовут Дмитрий Ким и уже более 20 лет я помогаю людям. Рассказываю, как выйти на доход выше 300 тысяч рублей, разобраться в себе и семейных проблемах, как комплексно улучшить свою жизнь.
                p.examples-comparison
                    |Как один человек может разбираться во всём? Очень просто - я знаю, что причины проблем кроются в Родовых Программах и умею их снимать.
                .header-wraplink 
                    a.header-link(href="#") 
                        |Записаться