
section.video
    .container 
        h2.title.video-title 
            |Взгляните на отзывы реальных людей.
            span.title-span 
        .video-wrap 
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/b-ZNuNCtg2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            