extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ../sections/_header
    main
        //- include ../sections/_video
        include ../sections/_examples
        include ../sections/_leader
    include ../sections/_footer